<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Stack Implementation without Collection</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <label>Create new Stack</label>
        <form method="post" action="@{/create}" >
            <input id="capacity" placeholder="Enter Stack capacity"  type="number" />

            <input type="submit" value="Create Stack">
        </form>
        <br></br>
        <input type="text" name="capacity" placeholder="POP to remove top element from Stack">	

        <button type="submit" onclick="location.href='/pop'"  name="pop" class="v">POP</button>
        <br></br>
        <input type="text" name="capacity" placeholder="Enter Index to peek index's value">	

        <button type="submit" name="get" class="v">GET</button>


    </body>
</html>
